.movie-container{
    width: 200px;
    height: 250px;
    /* border: 1px solid black; */
    margin: 5px 20px 10px 0;
    transition: all .4s ease-out;
}

.movie-container:hover{
    transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
}
.poster-container{
    width: 200px;
    height: 250px;
}

.info-container{
    padding: 0px 37px
}

.spinner-loader{
    width: 5rem; 
    height: 5rem;
}
.loading{
    font-size: 40px;
}

.carousel-indicators{
    position: static;
}
.carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
}

.carousel-control-prev{
    left: -120px;
}

.carousel-control-next{
    right:-120px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width:30px;
    height:30px;
}